svg text {
    fill: transparent;
    stroke: #2d5437;
    stroke-width: 2;
    box-shadow: 10px 10px 10px black;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: AnimatedText 3s ease-in-out forwards;
}

@keyframes AnimatedText {
    0% {
        stroke-dashoffset: 500;
        fill: transparent;
    }
    80% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #127a2e;
    }
}